<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <script th:src="@{/webjars/jquery/3.3.1-2/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.14.6/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
    <link rel="shortcut icon" href="../img/favicon.png" type="image/png" />
    <meta charset="UTF-8">
    <title>Create order</title>
</head>

<body class="bg-light">
    <th:block th:insert="/_menu"></th:block>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-sm-2 col-md-3 d-none d-sm-block"></div>
            <div class="col-12 col-sm-8 col-md-6">
                <form name='f' th:action="@{/order}" method='POST'>
                    <h3 class="text-center">Create Order</h3>
                    <div class="form-group row">
                        <label for="inputOrderWeight" class="col-sm-3 col-form-label">Weight</label>
                        <div class="col-sm-9">
                            <input name='OrderWeight' type="text" class="form-control" id="inputOrderWeight" placeholder="Weight">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputDestination" class="col-sm-3 col-form-label">Destination</label>
                        <div class="col-sm-9">
                            <input name='Destination' type="text" class="form-control" id="inputDestination" placeholder="Destination">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-9 offset-sm-3">
                            <button name="submit" type="submit" class="btn btn-outline-primary" value="submit">Create order</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-2 col-md-3 d-none d-sm-block"></div>
        </div>
    </div>

</body>

</html>