<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">

<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../css/styleNavbar.css" type="text/css">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/png" />
    <title>Login</title>
</head>

<body class="bg-light h-100">
    <th:block th:include="/_menu"></th:block>
    <!-- /login?error=true -->
    <div th:if="${#request.getParameter('error') == 'true'}" style="color:red;margin:10px 0px;">
        Login Failed!!!
        <br /> Reason :
        <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}" th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
				                Static summary
				         </span>
    </div>
    <div class="container" style ="height: calc(100% - 80px)">
        <div class="row align-items-center"  style ="height: calc(100% - 80px)">
            <div class="col-sm-2 col-md-3 d-none d-sm-block"></div>
            <div class="col-12 col-sm-8 col-md-6">
                <form name='f' th:action="@{/j_spring_security_check}" method='POST'>
                    <h3 class="text-center">Login</h3>
                    <div class="form-group row">
                        <label for="inputName" class="col-sm-3 col-form-label">Name</label>
                        <div class="col-sm-9">
                            <input name='username' type="text" class="form-control" id="inputName" placeholder="Name" value=''>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
                        <div class="col-sm-9">
                            <input name='password' type="password" class="form-control" id="inputPassword" placeholder="Password" value=''>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-9 offset-sm-3">
                            <button name="submit" type="submit" class="btn btn-outline-primary" value="submit">Sign in</button>
                        </div>
                    </div>
                </form>
                    <p>dbAdmin/dbUser1/dbManager/dbCourier/123</p>
            </div>
            <div class="col-sm-2 col-md-3 d-none d-sm-block"></div>
        </div>
    </div>

</body>

</html>