<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <script th:src="@{/webjars/jquery/3.3.1-2/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.14.6/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/bootstrap-table/1.14.1/dist/bootstrap-table.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-table/1.14.1/dist/bootstrap-table.min.css}" />
    <link rel="shortcut icon" href="../img/favicon.png" type="image/png" />
    <title>My Orders</title>
</head>

<body class="text-center bg-light">
    <th:block th:insert="/_menu"></th:block>
    <br/>
    <h2>My orders</h2>
    <br/>
    <table class="table table-hover" id="table" data-toggle="table" data-sort-name="name" data-sort-order="desc">
        <thead>
            <tr>
                <th data-field="id" data-sortable="true">Order ID</th>
                <th data-field="weight" data-sortable="true">Weight</th>
                <th data-field="status" data-sortable="true">Status</th>
                <th data-field="dest" data-sortable="true">Destination</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="order :${ordersList}">
                <td th:text="${order.getOrderId()}">Order ID</td>
                <td th:text="${order.getWeight()}">Weight</td>
                <td th:text="${order.getStatus()}">Status</td>
                <td th:text="${order.getDestPoint()}">Destination</td>
                <td>
                    <a th:href="@{order/edit/{id}(id=${order.orderId})}"><img src="img/edit-icons.png" class="cursor-hand" width="24" height="24" border="0"></a>
                </td>
                <td>
                    <a th:href="@{order/delete/{id}(id=${order.orderId})}"><img src="img/delete-icons.png" class="cursor-hand" width="24" height="24" border="0"></a>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>