<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">

<head>
    <script th:src="@{/webjars/jquery/3.3.1-2/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.14.6/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <script src="/js/validateRegForm.js"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
    <link rel="shortcut icon" href="../img/favicon.png" type="image/png" />
    <style type="text/css">
        input[type="password"]::-ms-reveal
    </style>

    <title>Registration</title>
</head>

<body class="bg-light h-100">
    <th:block th:insert="/_menu"></th:block>
    <div class="container" style ="height: calc(100% - 80px)">
        <div class="row align-items-center" style = "height: calc(100% - 80px)">
            <div class="col-sm-2 col-md-3 d-none d-sm-block"></div>
            <div class="col-12 col-sm-8 col-md-6">

                <form name='f' th:action="@{/registration}" method='POST'>
                    <h3 class="text-center">Registration</h3>
                    <div class="form-group row">
                        <label for="inputLogin" class="col-sm-3 col-form-label">Login</label>
                        <div class="col-sm-9">
                            <input name='login' type="text" class="form-control" id="inputLogin" placeholder="Login">
                            <span style="color:red" id="loginf"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            <input name='userEmail' type="email" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
                        <div class="col-sm-9">
                            <input name='password' type="password" class="form-control" id="inputPassword" placeholder="Password">
                            <span style="color:red" id="passwordf"></span>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label for="inputFirstName" class="col-sm-3 col-form-label">First name</label>
                        <div class="col-sm-9">
                            <input name='firstName' class="form-control" type="text" id="inputFirstName" placeholder="First name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputLastName" class="col-sm-3 col-form-label">Last name</label>
                        <div class="col-sm-9">
                            <input name='lastName' class="form-control" type="text" id="inputLastName" placeholder="Last name">
                        </div>
                    </div>

                    <fieldset class="form-group">
                        <div class="row">
                            <label class="col-sm-3 col-form-label">Gender</label>

                            <div class="col-sm-9">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="1">
                                    <label class="form-check-label" for="exampleRadios1">
                                        Male
                                    </label>
                                </div>
                                <div class="form-check ">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="0">
                                    <label class="form-check-label" for="exampleRadios2">
                                        Female
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset> 
                    
                    <div class="form-group row">
                        <div class="col-sm-9 offset-sm-3">
                            <button name="submit" type="submit" class="btn btn-outline-primary">Sign up</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-sm-2 col-md-3 d-none d-sm-block"></div>
        </div>
    </div>
</body>

</html>