<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">

<head>
    <script th:src="@{/webjars/jquery/3.3.1-2/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.14.6/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styleNavbar.css}" type="text/css">
    <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/png" />
    <title>User edit</title>
</head>

<body class="bg-light h-100">
    <th:block th:insert="/_menu"></th:block>
<div class="container" style ="height: calc(100% - 80px)">
        <div class="row align-items-center"  style ="height: calc(100% - 80px)">
            <div class="col-sm-2 col-md-3 d-none d-sm-block"></div>
            <div class="col-12 col-sm-8 col-md-6">

				<form name='f' th:action="@{{id}(id=${user.userId})}" th:object="${user}" method="post">
					<div class="form-group row">
                        <label for="inputLogin" class="col-sm-3 col-form-label">Login:</label>
                        <div class="col-sm-9">
                            <input readonly class="form-control-plaintext" th:field="*{login}" type="text" id="inputLogin" placeholder="Login">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail" class="col-sm-3 col-form-label">Email:</label>
                        <div class="col-sm-9">
                            <input class="form-control" th:field="*{userEmail}" type="email" id="inputEmail" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputFirstName" class="col-sm-3 col-form-label">First name:</label>
                        <div class="col-sm-9">
                            <input class="form-control" th:field="*{firstName}" type="text" id="inputFirstName" placeholder="First name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputSecondName" class="col-sm-3 col-form-label">Second name:</label>
                        <div class="col-sm-9">
                            <input class="form-control" th:field="*{secondName}" type="text" id="inputSecondName" placeholder="Second name">
                        </div>
                    </div>
                    
                    	
                    <div class="form-group row">
                    	<label class="col-sm-3 col-form-label">Sex:</label>
		                    <div class="form-check form-check-inline">
							  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
							  <label class="form-check-label" for="exampleRadios1">
							    Man
							  </label>
							</div>
							<div class="form-check form-check-inline">
							  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
							  <label class="form-check-label" for="exampleRadios2">
							    Woman
							  </label>
						</div>	 	    
					</div>	
					
					<div class="form-group row">
                        <div class="col-sm-9 offset-sm-3">
                            <button name="submit" type="submit" class="btn btn-outline-secondary" value="Save User">Save User</button>
                        </div>
                    </div>
							
				</form>
				
            </div>
            <div class="col-sm-2 col-md-3 d-none d-sm-block"></div>
        </div>
    </div>
</body>

</html>