<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <script th:src="@{/webjars/jquery/3.3.1-2/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.14.6/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/bootstrap-table/1.14.1/dist/bootstrap-table.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-table/1.14.1/dist/bootstrap-table.min.css}" />
    <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/png" />
    <title>User edit</title>
</head>

<body class="bg-light">
    <th:block th:insert="/_menu"></th:block>
    <div class="container">
        <div class="text-center">
            <br/>
            <h2>User edit</h2>
        </div>
        <div class="row">

            <div class="col-md-6">
                <br/>
                <h4 class="text-center">Customize profile</h4>
                <br/>
                <form name='f' th:action="@{{id}(id=${user.userId})}" th:object="${user}" method="post">
                    <div class="form-group row">
                        <label for="inputLogin" class="col-sm-3 col-form-label">Login:</label>
                        <div class="col-sm-9">
                            <input readonly class="form-control" th:field="*{login}" type="text" id="inputLogin" placeholder="Login">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail" class="col-sm-3 col-form-label">Email:</label>
                        <div class="col-sm-9">
                            <input class="form-control" th:field="*{userEmail}" type="email" id="inputEmail" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputFirstName" class="col-sm-3 col-form-label">First name:</label>
                        <div class="col-sm-9">
                            <input class="form-control" th:field="*{firstName}" type="text" id="inputFirstName" placeholder="First name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputLastName" class="col-sm-3 col-form-label">Last name:</label>
                        <div class="col-sm-9">
                            <input class="form-control" th:field="*{lastName}" type="text" id="inputLastName" placeholder="Last name">
                        </div>
                    </div>

                    <fieldset class="form-group">
                        <div class="row">
                            <label class="col-sm-3 col-form-label">Gender:</label>

                            <div class="col-sm-9">
                                <div class="form-check">
                                    <input class="form-check-input" th:checked="*{gender} == true" type="radio" name="exampleRadios" id="exampleRadios1" value="1">
                                    <label class="form-check-label" for="exampleRadios1">
                                        Male
                                    </label>
                                </div>
                                <div class="form-check ">
                                    <input class="form-check-input" th:checked="*{gender} == false" type="radio" name="exampleRadios" id="exampleRadios2" value="0">
                                    <label class="form-check-label" for="exampleRadios2">
                                        Female
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group row">
                        <div class="col-sm-9 offset-sm-3">
                            <button name="submit" type="submit" class="btn btn-outline-secondary" value="Save User">Save profile</button>
                        </div>
                    </div>

                </form>

            </div>
            <div class="col-md-6 text-center">
                <br/>
                <h4>Roles user</h4>
                <br/>

                <table class="table table-hover" id="table" data-toggle="table" data-sort-name="name" data-sort-order="desc">
                    <thead>
                        <tr>
                            <th data-field="id" data-sortable="true">ID</th>
                            <th data-field="name" data-sortable="true">Role</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="role : ${roles}">

                            <td th:text="${role.getRoleId()}"></td>
                            <td th:text="${role.getRoleName()}"></td>
                            <td>
                                <a th:href="@{delete/{id}-{name-rol}(id=${user.userId}, name-rol=${role.roleName})}"><img th:src="@{~/img/delete-icons.png}" class="cursor-hand" width="24" height="24" border="0"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br/>
                <!--  th:field="*{rol}"-->
                <form name='r' th:action="@{add-roles/{id}(id=${user.userId})}" method="post">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" name="submit-role" type="submit">Add role to user</button>
                    </div>
                    <select class="custom-select" id="inputGroupSelect">
                    	<option value=""> -- </option>
                        <option th:each="rol : ${listRoles}" 
                        		th:value="${{rol}}" 
                        		th:text="${rol.getRoleName()}"></option>
                    </select>
                </div>
                
                </form>
            </div>

        </div>
    </div>
</body>

</html>