<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <script th:src="@{/webjars/jquery/3.3.1-2/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.14.6/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="shortcut icon" href="../img/favicon.png" type="image/png"/>
    <title th:utext="${title}"></title>
</head>

<body class="text-center bg-light">
    <th:block th:insert="/_menu"></th:block>
    
    <div sec:authorize="!isAuthenticated()">
        This content is only shown to not authenticated users.
    </div>
    <div sec:authorize="isAuthenticated()">
        This content is only shown to authenticated users.
    </div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        This content is only shown to administrators.
    </div>
    <div sec:authorize="hasRole('ROLE_USER')">
        This content is only shown to users.
    </div>
    <div sec:authorize="hasRole('ROLE_MANAGER')">
        This content is only shown to managers.
    </div>
    <div sec:authorize="hasRole('ROLE_COURIER')">
        This content is only shown to couriers.
    </div>
</body>

</html>